* {
  text-align: center;
  background-color: royalblue;
  color: hotpink;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.heading {
  font-size: 34px;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.samosa-img {
  width: 100px;
  height: auto;
}

.down-space {
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

ol {
  list-style-type: none;
}
