* {
  text-align: center;
  background-color: royalblue;
  color: hotpink;
}

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.samosa-img {
  width: 100px;
  height: auto;
}

ul {
  list-style: none;
}

ol {
  list-style-type: none;
}
